  
#hm{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 628px;
    justify-content: center;
    align-items: center;
}


.header-banner{
    background-image: url("./img/bg1.jpg");
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
     
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}


.wrapper{
    width: 95%;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3%;
}
*{
    margin:0;
    padding:0;

}
.container-bx{
    min-width: 200px;
    width: 25%;
    padding: 1rem;
    margin: 0 10px;
    box-shadow: 0px 0px 15px -10px rgb(0,0,0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-bx-img{
    width: 100%;
    display: flex;
}
.container-bx-img img{
    width: 60%;
    margin: auto;
    border: 1px solid rgb(11, 239, 94);
    border-radius: 50%;
}
.container-bx-content{
    min-width: 180px;
    width: 100%;
} 